@import "./src/colors.scss";

.filterContainer {
  width: 286px;
  box-shadow: 0 3px 84px 0 rgba(0, 0, 0, 0.07);
  margin-right: 24px;
  margin-top: 98px;
  padding: 17px 24px 38px;
  height: max-content;

  .button {
    border: 1px solid $violet1;
    color: $grey2;
    padding: 19px 42px;
    background: none;
  }
}