.cardContainer {
  text-decoration: none;
  color: #000000;
  height: 300px;

  img {
    object-fit: cover;
    background-position: center;
    width: 217px;
    height: 217px;
  }

  > div {
    .price {
      font-weight: bold;
    }

    .oldPrice {
      margin-left: 16px;
    }

    .discountPercentage {
      margin-left: 16px;
      color: #ff0000;
    }
  }

  .description {
    line-height: 27px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 45px;
  }
}