@import './src/colors.scss';

.teaListContainer {
  width: 100%;
  margin-top: 50px;

  .teaName{
    margin-bottom: 27px;

    a{
      margin-left: 19px;
      text-decoration: none;
      color: $violet1;
    }
  }

  .cardContainer {
    display: flex;
    justify-content: space-between;
  }
}