@import "./src/colors.scss";

.infoContainer {
  color: $grey1;

  h1 {
    font-size: 26px;
  }

  > div {
    margin-bottom: 20px;

    span {
      width: 131px;
      text-align: right;
      display: inline-block;
      margin-right: 30px;
    }

    input {
      color: $grey1;
      border: 1px solid $grey3;
      padding: 17px 25px;

      &:focus {
        color: #000000;
        border: 1px solid $green1;
      }
    }
  }
}