.cardContainer {
  text-decoration: none;
  color: #000000;


  > img {
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 217px;
    margin: 0;
  }

  .commonInfoContainer {
    margin: 19px 0;

    a {
      margin-left: 17px;

      img {
        width: 18px;
        height: 17px;
      }
    }
  }
}